template(name="metrics")
    .tile.metrics
        h2 Mes Mesures
        .steps
            i.fa.fa-spinner
            span #{steps.number} Steps
            .progress
                .progress-bar(role="progressbar", aria-valuenow="#{steps.percent}", aria-valuemin="0", aria-valuemax="100", style="width: #{steps.percent}%;") #{steps.percent}%
