@import "/packages/font-awesome-4-less/font-awesome.import.less";

@tile-height: 15em;

h2 {
  margin: 0;
  padding: 0.25em;
}

a {
  color: @text-color;
}

.home {
  padding: 0 15px;
  margin-left: 0;
  margin-right: 0;

  .row {
    .col-xs-6:nth-child(1) {
      padding-right: 0.25em;
    }

    .col-xs-6:nth-child(2) {
      padding-left: 0.25em;
    }
  }

  .tile {
    background: white;
    border: 1px solid @navbar-default-border;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    height: @tile-height;
    margin: 0.5em 0;
    overflow: hidden;
    padding: 0.5em;

    &.bg-success {
      .bg-success;
      border: 1px solid darken(@state-success-bg, 3%);
    }

    &.metrics {
      .fa.fa-spinner {
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
      }
      .steps {
        margin-left: 1em;

        .progress {
          display: inline-block;
          margin-bottom: 0;
          margin-left: 1em;
          vertical-align: bottom;
          width: 40%;
        }
      }
    }

    &.offer {
      text-align: center;

      h2 {
        height: @tile-height;
      }
    }

    &.contacts {
      .contact-row {
        margin: 0.5em 0;
        text-align: center;
        width: 100%;

        i {
          display: block;
        }
      }
    }
  }

  .comments-container {
    .comment {
      padding: 0.5em;

      img {
        height: 2em;
        padding-right: 0.5em;

        &.female {
          content: url("/images/user-female.png");
        }

        &.male {
          content: url("/images/user-male.png");
        }
      }
    }
  }
}