@tile-height: 200px;

h2 {
  margin: 0;
  padding: 0.25em;
}

.home {
  .row {
    .col-xs-6:nth-child(1) {
      padding-right: 0.25em;
    }

    .col-xs-6:nth-child(2) {
      padding-left: 0.25em;
    }
  }

  .tile {
    background: @navbar-default-bg;
    border: 1px solid @navbar-default-border;
    height: @tile-height;
    margin: 0.5em;
    padding: 0.5em;

    &.bg-success {
      .bg-success;
      border: none;
    }

    &.offer {
      text-align: center;

      h2 {
        height: @tile-height;
      }
    }
  }

  .comments-container {
    .comment {
      padding: 0.5em;

      img {
        height: 2em;
        padding-right: 0.5em;

        &.female {
          content: url("/images/user-female.png");
        }

        &.male {
          content: url("/images/user-male.png");
        }
      }
    }
  }
}