template(name="comments")
    .tile
        h2 Derniers commentaires
        .comments-container
            each comments
                +commentItem

template(name="commentItem")
    .comment
        if gender
            img.female
        else
            img.male
        span
            strong #{author} :
            span #{text}
