template(name="home")
    .home
        .row
            .col-xs-12.col-md-6
                +planning
            .col-xs-12.col-md-6
                +metrics
        .row
            .col-xs-12.col-md-6
                +comments
            .col-xs-12.col-md-6
                //+leaderboard
        .row
            .col-xs-6
                +offer
            .col-xs-6
                +contacts
