template(name="home")
    .home
        .row
            .col-xs-12.col-md-6
                a.no-design(href="{{pathFor 'planning'}}")
                    +planningSummary
            .col-xs-12.col-md-6
                +metrics
        .row
            .col-xs-12.col-md-6
                a.no-design(href="{{pathFor 'activity'}}")
                    +activitySummary
            .col-xs-12.col-md-6
                +comments
        .row
            .col-xs-6
                +offer
            .col-xs-6
                +contacts
