template(name="thunderIcon")
    svg.picto.thunder(xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 83.5 79.4", version="1.1")
        g(transform="translate(-333.26314,-492.66306)")
            g(transform="matrix(0.98200752,0,0,0.98200752,230.68973,-349.44754)", fill="#afb4bd")
                path(d="m115,902h64.6c16.7,0,7.95-25.2-10.1-15.2,15.8-13-9.37-34.6-21.7-16.1,1.44-16.8-29.8-19.1-22.5,5.3-3.26-8.44-19.6,0.0509-8.84,8.74-13.1,0.907-16.7,17.2-1.52,17.2z")
                path(d="m128,907,8.08,0-10.9,10.7,12.6,3.57-18.4,16,10.6-14-11.1-4.56z")
                path(d="m156,907,8.08,0-8.88,6.73,6.59,1.57-10.4,8,5.62-7.01-8.08-1.55z")
