template(name="contacts")
    .tile.contacts
        h2 Contacts
        .contact-row
            i.fa.fa-phone
            a(href="tel:0139393939") 0139393939
        .contact-row
            i.fa.fa-envelope-o
            a(href="mailto:contact@magic.com") contact@magic.com
        .contact-row
            i.fa.fa-facebook
            a(href="facebook.com/magic") Page FB
